#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.alerta {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  width: 500px;
  border-radius: 1em;
  padding: 5px;
}

.comunicado {
  display: flex;
  gap: 10px;
  align-items: center;
}

button {
  background: none;
  border: none;
  height: 20px;
}

button:hover {
  cursor: pointer;
}

.info {
  background-color: #295FA6;
}

.sucesso {
  background-color: #04BF45;
}

.aviso {
  background-color: #F29422;
}

.erro {
  background-color: #D91E2E;
}